.App {
   text-align: center;
}

/* body {
   background-color: rgb(115, 124, 117);
}

.cards {
   position: relative;
   width: 300px;
   height: 350px;
   margin: 20px;
   --mouseX9: 0;
   --mouseY9: 0;
   --padding: 1em;
 }
 
 .cards .face {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   overflow: hidden;
   transition: 1s;
 }
 
 .cards .front{
   transform: perspective(600px) rotateY(0deg);
   box-shadow: 0 5px 10px #000000;
   background: radial-gradient(circle, #18f89b, #222222, #222222);
   background-size: 400% 400%;
   animation: gradient 2s ease infinite;
 }
 
 .cards .front img {
   width: 250px;
   height: 270px;
   margin: auto;
   border-radius: 1rem;
   margin-top: 12%;
  object-fit: cover;
  overflow: hidden;
   
 }
 
.cards .back{
   transform: perspective(600px) rotateY(180deg);
   background-color: black;
   padding: 15px;
   color: #f3f3f3;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
   height: 120%;
   background: linear-gradient(-45deg, #41644A, #263A29, #E86A33);
   background-size: 400% 400%;
   animation: gradient 3s ease infinite;
}

 .cards:hover .front{
   transform: perspective(600px) rotateY(180deg)
 }
 
 .cards:hover .back{
   transform: perspective(600px) rotateY(360deg)
 }




@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
} */